<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 box">
      <sign_up>
        Sign up to 
        <%= link_to 'project simz', root_path %>
      </sign_up>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <br/>
        <div class="field"></div>
        <username_signup>
          <br/>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Username" %>
        </username_signup>
        <div class="field"></div>
        <br/>
        <pwd_signup>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (6 characters Minimum)" %>
        </pwd_signup>
        <div class="field"></div>
        <br/>
        <pwdconf_signup>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
        </pwdconf_signup>
        <div class="actions"></div>
        <br>
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </br>
      <% end %>
    </div>
  </div>
</div>
