<div class="indexp">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
      <post_count> 
        <%= @posts.count  %>
        questions have been asked.  
        <%= link_to "Ask a Question", new_post_path(@post), class: "btn btn-primary ml-2 mt-1" %>
      </post_count>
    </div>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 box">
          <h4>
            <%= link_to post.title, post_path(post) %>
          </h4>
          <% 
            id = post.user.id 
            data = JSON.parse(
              open("http://localhost:1212/v1/accounts/#{id}" 
              ).read, symbolize_names: true
            )[:data]

            first_name = data[:first_name]
            last_name = data[:last_name]
            department = data[:department]
            program = data[:program]
          %>
          <posted_by> Posted by <%= first_name %> <%= last_name %> 
          | <%= department %> | <%= program %> </posted_by>
        </div>
      </div>
    <% end %>
  </div>
</div>


  